swagger: '2.0'
info:
  version: 1.0.1
  title: AWS node product-service API
  # put the contact info for your development or API team
  contact:
    email: max.plavinskiy@gmail.com

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

paths:
  /products:
    get:
      summary: Get all products
      description: |
        Get all products
      produces:
      - application/json
      responses:
        200:
          description: search results matching criteria
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
        400:
          description: bad input parameter
      tags:
        - default
  /products/{id}:
    get:
      summary: Get product by id
      description: |
        Get product by id
      operationId: getProductsById  
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the product
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Search results matching criteria
          schema:
            $ref: '#/definitions/Product'
        400:
          description: Bad input parameter
        404:
          description: Product not found  
      tags:
        - default      
definitions:
  Product:
    type: object
    required:
    - count
    - id
    - price
    - title
    - image
    properties:
      count:
        type: number
        example: 1
      id:
        type: string
        format: uuid
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      price:
        type: number
        example: 1000
      title:
        type: string
        example: Toy
      image:
        type: string
        example: https://s3.bucket.aws.com
# Added by API Auto Mocking Plugin
host: virtserver.swaggerhub.com
basePath: /max1/products/1.0.1
schemes:
 - https